
h1 {
  font-family: 'Raleway', monospace;
  color: rgb(255, 255, 255);
}

p {
  font-family: 'Roboto Mono', monospace;
}

p, code {
  font-size: 1em;
}
code {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: rgb(76, 68, 54);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto Mono', monospace;
  padding: 5px 3px 7px 7px;
  white-space: pre;
  display: block;
}


header, footer {
    background-color: rgb(111, 29, 27);
}
footer a, footer {
  color: rgb(207, 125, 123);
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}
footer a:hover, footer a:active {
  color: rgb(238, 157, 155);
}

.cd {
  background-color: rgb(90, 53, 42);
  color: rgb(250, 213, 202);
}
.ls {
  background-color: rgb(116, 72, 38);
  color: rgb(244, 200, 166);
}
.cp, .mv {
  background-color: rgb(147, 43, 16);
  color: rgb(243, 171, 144);
}

.rm {
  background-color: rgb(155, 29, 32);
  color: rgb(251, 157, 160);
}
